body {
  @apply font-body;
}

#app {
  overflow: hidden;
}

.brand {
  @apply text-3xl font-medium text-indigo-500;
}

.has-background {
  @apply p-4 md:p-8 #{!important};

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0 !important;
  }
}

.hidden-on-mobile {
  @apply hidden md:block;
}

#ez-toc-container {
  .single-project & {
    .ez-toc-title {
      display: none;
    }
  }
  .ez-toc-title {
    @apply text-2xl;
  }

  li {
    @apply mb-4 text-gray-600;
  }
}

.ez-toc-title {
  @apply text-xl font-bold mb-4;
}

.screen-reader-text {
  display: none;
}

.nav-links {
  @apply mt-8 flex justify-between;
}

.nav-previous,
.nav-next {
  @apply inline-flex px-6 py-2 text-lg text-white bg-violet-500 border-0 rounded focus:outline-none hover:bg-violet-600;
}

.clip-hexagon {
  clip-path: polygon(28% 1%, 100% 4%, 100% 100%, 11% 86%, 0 34%);
}

.clip-pentagon {
  clip-path: polygon(85% 0%, 100% 65%, 45% 100%, 0% 55%, 5% 10%);
}

.clip-bottom-slant {
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 10vw));
}

.clip-top-slant {
  clip-path: polygon(0% 6vw, 100% 0, 100% 100%, 0 100%);
  padding-top: 6vw;
  margin-bottom: -1px;
}

.clip-top-right-corner {
  position: relative;
  &::before {
    content: '';
    height: 12em;
    width: 20em;
    position: absolute;
    top: 0;
    right: 0;
    border: 6em solid transparent;
    border-left-width: 10em;
    border-top: 6em solid white;
    border-right: 10em solid white;
  }
}

.clip-project-header {
  clip-path: polygon(
    0% 0%,
    calc(100% - 15vw) 0%,
    100% 12.5vw,
    100% 100%,
    0% calc(100% - 7.5vw)
  );
}

.is-style-large {
  @apply text-2xl font-extrabold;
}

.is-style-cut-corner-bottom-left {
  img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 70%);
  }

  &:last-child {
    &::after {
      @apply bg-violet-100 bg-violet-slant bg-no-repeat bg-contain bg-left-bottom;
      z-index: -1;
      display: block;
      content: '';
      height: 80vh;
      width: 100vw;
      left: 0;
      transform: translateY(-60%);
      position: absolute;
    }
  }
}

.alignfull {
  width: auto !important;
  // img {
  //   width: 100%;
  //   max-width: none;
  // }
}

hr,
.wp-block-separator,
.prose hr {
  width: 40%;
  opacity: 1;
  @apply border-t-0 border-b-4 border-orange-300;

  &.is-style-wide {
    width: 100%;
  }
}

.prose hr {
  margin-left: 0 !important;
}

.prose {
  ul > li::before {
    @apply bg-orange-400 #{!important};

    transform: scale(2.5);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  }
}

.wp-block-columns {
  @apply flex gap-4;
}

.wp-block-column {
  @apply flex-1;
}

.wp-block-person {
  + .wp-block-person {
    margin-top: 1.5em;
  }
  @apply border-4 border-violet-200;

  .wp-block-columns {
    @apply bg-black flex items-center;
  }

  [data-type='mrn/button'] {
    position: static;
  }

  .wp-block-column {
    position: relative;
  }

  .block-editor-block-list__block {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .button {
    position: absolute;
    transform-origin: center;
    @apply right-4 top-1/2 transition;
    transform: translateY(-50%);

    path {
      stroke-width: 100;
    }

    &[aria-expanded='true'] {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  h3 {
    @apply text-4xl font-bold text-white mt-2 mb-1  #{!important};
  }

  h4 {
    @apply text-2xl font-bold text-violet-200  #{!important};
  }

  .person-details {
    @apply py-4 lg:px-12;
  }

  figure {
    @apply my-0 #{!important};

    figcaption {
      display: none;
    }
  }
}
.wp-block .wp-block-media-text {
  display: grid;
  grid-template-columns: 50% 1fr;

  .wp-block-media-text__content {
    padding: 0 8% 0 8%;
  }
}
