@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap);
body{
  font-family: Montserrat, ui-sans-serif, system-ui;
}

.brand{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(99, 102, 241, var(--tw-text-opacity));
}

.single-project #ez-toc-container .ez-toc-title {
  display: none;
}
#ez-toc-container .ez-toc-title{
  font-size: 1.5rem;
  line-height: 2rem;
}
#ez-toc-container li{
  margin-bottom: 1rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.ez-toc-title{
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.screen-reader-text {
  display: none;
}

.nav-links{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-previous, .nav-next{
  display: inline-flex;
  border-radius: 0.25rem;
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(117, 48, 215, var(--tw-bg-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.nav-previous:hover, .nav-next:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(94, 34, 178, var(--tw-bg-opacity));
}

.nav-previous:focus, .nav-next:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.clip-hexagon {
  -webkit-clip-path: polygon(28% 1%, 100% 4%, 100% 100%, 11% 86%, 0 34%);
          clip-path: polygon(28% 1%, 100% 4%, 100% 100%, 11% 86%, 0 34%);
}

.clip-pentagon {
  -webkit-clip-path: polygon(85% 0%, 100% 65%, 45% 100%, 0% 55%, 5% 10%);
          clip-path: polygon(85% 0%, 100% 65%, 45% 100%, 0% 55%, 5% 10%);
}

.clip-bottom-slant {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 10vw));
          clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% calc(100% - 10vw));
}

.clip-top-slant {
  -webkit-clip-path: polygon(0% 6vw, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0% 6vw, 100% 0, 100% 100%, 0 100%);
  padding-top: 6vw;
  margin-bottom: -1px;
}

.clip-top-right-corner {
  position: relative;
}
.clip-top-right-corner::before {
  content: "";
  height: 12em;
  width: 20em;
  position: absolute;
  top: 0;
  right: 0;
  border: 6em solid transparent;
  border-left-width: 10em;
  border-top: 6em solid white;
  border-right: 10em solid white;
}

.clip-project-header {
  -webkit-clip-path: polygon(0% 0%, calc(100% - 15vw) 0%, 100% 12.5vw, 100% 100%, 0% calc(100% - 7.5vw));
          clip-path: polygon(0% 0%, calc(100% - 15vw) 0%, 100% 12.5vw, 100% 100%, 0% calc(100% - 7.5vw));
}

.is-style-large{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}

.is-style-cut-corner-bottom-left img {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 70%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 70%);
}
.is-style-cut-corner-bottom-left:last-child::after{
  --tw-bg-opacity: 1;
  background-color: rgba(231, 219, 248, var(--tw-bg-opacity));
  background-image: linear-gradient(to bottom left, #fff, #fff 8em, transparent 8.05em, transparent),  linear-gradient(to top right, #fff, #fff 12em, transparent 12.05em, transparent);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  z-index: -1;
  display: block;
  content: "";
  height: 80vh;
  width: 100vw;
  left: 0;
  transform: translateY(-60%);
  position: absolute;
}

.alignfull img {
  width: 100%;
  max-width: none;
}

hr,
.wp-block-separator,
.prose hr {
  width: 40%;
  opacity: 1;
}

hr, .wp-block-separator, .prose hr{
  border-top-width: 0px;
  border-bottom-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(242, 193, 147, var(--tw-border-opacity));
}
hr.is-style-wide,
.wp-block-separator.is-style-wide,
.prose hr.is-style-wide {
  width: 100%;
}

.prose hr {
  margin-left: 0 !important;
}

.prose ul > li::before{
  --tw-bg-opacity: 1 !important;
  background-color: rgba(236, 166, 102, var(--tw-bg-opacity)) !important;
  transform: scale(2.5);
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
          clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.block-editor-block-list__layout{
  font-family: Montserrat, ui-sans-serif, system-ui !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.wp-block{
  max-width: 768px;
}
.wp-block.editor-post-title__block .editor-post-title__input{
  font-family: Montserrat, ui-sans-serif, system-ui !important;
  font-size: 3.75rem !important;
  line-height: 1 !important;
  font-weight: 800 !important;
}
